*{
	background: #F8F7F5;
	font-family: 'Source Code Pro', monospace;
	font-size: 1rem;
}
.wrapper{
	margin: 0 auto;
	max-width: 800px;
	width: 100%;
	text-align: left;
}
h1{
	font-family: 'Poiret One', cursive;
	text-decoration: underline;
	font-size: 36px;
}
input{
	width: 200px;
	height: 30px;
	outline: none;
	padding: 5px 0px;
	font-family: 'Source Code Pro', monospace;
	border: none;
}
.btn{
	color: #fff;
	background: #383636;
	font-size: 0.9rem;
	height: 2.4rem;
	width: 4.5rem;
	border: 1px solid #383636;
	padding: 10px;
	font-weight: 500;
	outline: none;
	border-radius: 5px;
	margin-top: 2.5rem;
}
