h2{
	font-size: 2rem;
	}
body{
	background: teal;
	box-sizing: border-box;
	margin: 0 auto;
	font-family: Courier, Arial;
	font-weight: 500;
	font-size: 1.1rem;
	text-align: center;
	margin-top: 30px;
	padding: 30px;
}
.input, li{
	display: inline-block;
	padding: 10px;
	width: 480px;
	border-bottom: 1px solid black;
	background: #fff;
	text-align: left;
}
.main{
	margin: 40px;
}
input[type=checkbox]:checked + li{
	text-decoration: line-through;
}