*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.wrapper{
	margin: auto;
	height: 200px;
	margin-top: 20%;
	margin-right: 2%;
}
h3{
	margin: 20px;
	font-size: 48px;
	text-align: center;
}
body{
	height: 100vh; /*vh = 1% viewport height*/
	background: #ccc;
	display: flex;
}
li{
	list-style: none;
	display: inline-block;
	font-size: 1.2rem;
	color: #FBD74A;
}
.display{
	margin: 20px;
}
.display, .lives{
	display: inline-block;
}
.timer, .moves{
	display: inline-block;
	margin: 0 10px;
	font-size: 1.2rem;
}
.memory-game{
	width: 560px;
	height: 560px;
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	perspective: 1000px;
}
.memory-card{
	width: calc(25% - 10px);
	height: calc(25% - 10px);
	margin: 5px;
	position: relative;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform .5s;
}
.memory-card:active{
	transform: scale(0.97);
	transition: transform .2s;
}
.front-face,
.back-face{
	width: 100%;
	height: 100%;
	padding: 20px;
	position: absolute;
	border-radius: 5px;
	background: teal;
	backface-visibility: hidden;
	font-size: 80px;
}
.front-face{
	transform: rotateY(180deg);
}
.memory-card.flip{
	transform: rotateY(180deg);
	/*background: mistyrose;*/
}

