*{
	margin: 0 auto;
	text-align: center;
}
h1{
	margin: 20px; 
 }
.analog{
  padding: 2rem;
  position: relative;
	height: 10rem; 
	width: 10rem; 
	border: 4px solid black; 
	border-radius: 50%;
	background: #a3b9b9;
}
.analog:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}
.hour-wrapper, .minute-wrapper, .second-wrapper{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hour{
	background: #252021;
	height: 20%;
	width: 2%;
	position: absolute;
	transform-origin: 50% 100%;
	top: 30%;
	left: 48.8%;
	z-index: 10;
}
.minute{
	background: #252021;
	height: 50%;
	width: 2%;
	position: absolute;
	top: 8%;
	left: 49%;
	transform-origin: 50% 85%;
	z-index: 10;
}
.second{
	background: #7f7a69;
	height: 48%;
	width: 1%;
	position: absolute;
	top: 10%;
	right: 49%;
	transform-origin: 50% 84%;
	z-index: 10;
}

/* CSS Animation */
/*@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}*/
/*.hour-wrapper {
  animation: spin 43200s infinite linear;
}
.minute-wrapper {
  animation: spin 3600s infinite linear;
}
.second-wrapper {
  animation: spin 60s infinite linear;
}
*/
